@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@300;700&family=Space+Mono:wght@400;700&display=swap');

:root {
  --primary-color: hsl(172, 67%, 45%);
  --dark-gray-color: hsl(186, 14%, 43%);
  --light-gray-color: hsl(185, 41%, 84%);
  --white-color: hsl(0, 0%, 100%);
  --dark-color: hsl(183, 100%, 15%);
  --light-gray-color-2: hsla(180, 37%, 97%, 0.719);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Space Mono', monospace;
  font-size: 2.4rem;
  font-weight: 400;
  background-color: var(--light-gray-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 5rem;
  background-color: var(--white-color);
  box-shadow: 0 0 5rem 3rem rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}
